header{
  border-bottom: solid 5px;
  padding: 5px;
  font-size: 25px;
  border-color: white;
  color: white;
}
body{
  display: block;
  justify-content: center;
  margin: 12px;
  background: black;
  font-family: "Baskervville SC", serif;
}

 section{
   background-color: burlywood;
 }
.imagem_de_jesus_ao_seu_lado{
  margin: 8%;
  width: 80%;
}
